* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: block;
    font-family: 'Roboto',
        sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}


/* Navbar - Header  */

#header {
    width: 100%;
    box-shadow: 0px 4px 8px lightgrey;
    background-color: #022e57;
    color: white;
    font-weight: bold;
}

.first-header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.first-header img {
    width: 100px;
    margin-top: 5px;
}

.login-register {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
}

.navbar p {
    padding: 16px;
    cursor: pointer;
}

.login-register p {
    padding: 16px;
    cursor: pointer;
}


.navbar p:hover {
    background-color: rgb(70, 43, 138);
}

.login-register p:hover {
    background-color: rgb(70, 43, 138);
}

.dropdown-menu {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.nav-link {
    padding-top: 5px;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
    box-shadow: 0px 4px 8px lightgray;
}

.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}

.dropdown-menu-content p {
    min-width: 160px;
    background-color: #022e57;
}

.dropdown-navbar {
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: none;
}

.dropdown-navbar img {
    width: 50px;
}

.dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 4px 8px lightgrey;
}

.dropdown-content p {
    padding: 16px;
    cursor: pointer;
    background-color: #022e57;
    min-width: 160px;
}

.dropdown-content p:hover {
    background-color: rgb(70, 43, 138);
}

.dropdown-navbar:hover .dropdown-content {
    display: block;
}

/* Register  */

#reg-section {
    padding: 10vh;
    background-color: #005a8d;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.title {
    text-align: center;
    background-color: #293B5F;
    padding-bottom: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.title img {
    padding-top: 20px;
    width: 150px;
}

.reg-content {
    background-color: grey;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 25%;
    margin-left: 25%;
    box-shadow: 0 0 4px lightgray;
    border-radius: 10px;
}

.reg-form {
    padding: 5px 20px 20px 20px;
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 8px 200px 8px 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea::placeholder {
    text-align: left;
}

.form-label {
    padding-left: 3px;
}


.reg-submit {
    display: flex;
    align-items: center;
    justify-content: center;

}

.column-reg {
    display: flex;
    padding-top: 8px;
    padding-right: 5px;
}


#female,
#male {
    margin-bottom: 12px;
}

#female {
    margin-left: 8px;
}

#btnSubmit {
    background-color: #293B5F;
    border: none;
    color: white;
    padding: 8px 200px 8px 200px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
}

#btnSubmit:hover {
    background-color: darkcyan;
}

.error-message {
    color: red;
}

.success-message {
    color: greenyellow;
}

/* Testimonial */

#testimonial {
    background-color: #005a8d;
}

#testimonial-header {
    padding-top: 50px;
    color: #fff5fd;
    text-align: center;
}

.testimonial-title-desc {
    padding-right: 100px !important;
    padding-left: 100px !important;
    padding-top: 10px;
}

#testimonial-container {
    text-align: center;
    padding-top: 10px;
    max-width: 1000px;
    margin: auto;
    margin-top: 32px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.testimonial-card {
    transition: 0.3s;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 4px lightgray;
    border-radius: 10px;
}

.testimonial-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: azure;
}

.testimonial-img img {
    border-radius: 50%;
}

.testimonial-content {
    padding-top: 16px;
}

.text-desc {
    padding-top: 8px;
}



/* Footer  */

.ctImg {
    height: 50px;
}

.footer {
    text-align: center;
    background-color: #26272b;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-col {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.ctImg:hover {
    background-color: lightgray;
}

.copyright {
    margin: 10px 0px 10px 0px;
}

@media screen and (max-width: 770px) {

    .dropdown-navbar-header img {
        width: auto;
    }

    #reg-section {
        padding: 25px;
    }

    .reg-content {
        margin-left: 100px;
        margin-right: 100px;
    }

    #testimonial-container {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 700px) {

    .dropdown-navbar-header img {
        width: auto;
    }

    .navbar {
        display: none;
    }

    .show {
        display: none;
    }

    #reg-section {
        padding: 20px;
    }

    .reg-content {
        margin-left: 5px;
        margin-right: 5px;
    }


    #btnSubmit {
        padding: 8px 200px 8px 200px;
    }

    .dropdown-navbar-header a {
        padding-left: 10px;
    }

    .dropdown-navbar {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-content {
        right: 5px;
    }
}



@media screen and (max-width: 420px) {

    .dropdown-navbar-header img {
        width: auto;
    }

    #btnSubmit {
        padding: 8px 50px 8px 50px;
    }

    .testimonial-title-desc {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }

    .test-desc {
        font-size: 10px;
    }

    #testimonial-container {
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 300px) {

    .dropdown-navbar-header img {
        width: auto;
    }

    .dropdown-content {
        padding-right: 1000px !important;
    }
}