* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: block;
    font-family: 'Roboto',
        sans-serif;
}

main {
    background: url("/assets/background.jpg");
    background-size: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

#separator {
    width: 80px;
    height: 3px;
    background-color: yellow;
    margin-bottom: 1rem !important;
}


/* Navbar - Header  */

#header {
    width: 100%;
    box-shadow: 0px 4px 8px lightgrey;
    background-color: #022e57;
    color: white;
    font-weight: bold;
}

.first-header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.first-header img {
    width: 100px;
    margin-top: 5px;
}

.login-register {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
}

.navbar p {
    padding: 16px;
    cursor: pointer;
}

.login-register p {
    padding: 16px;
    cursor: pointer;
}


.navbar p:hover {
    background-color: rgb(70, 43, 138);
}

.login-register p:hover {
    background-color: rgb(70, 43, 138);
}

.dropdown-menu {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.nav-link {
    padding-top: 5px;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
    box-shadow: 0px 4px 8px lightgray;
    z-index: 1;
}

.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}

.dropdown-menu-content p {
    min-width: 160px;
    background-color: #022e57;
}

.dropdown-navbar {
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: none;
}

.dropdown-navbar img {
    width: 50px;
}

.dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 4px 8px lightgrey;
}

.dropdown-content p {
    padding: 16px;
    cursor: pointer;
    background-color: #022e57;
    min-width: 160px;
}

.dropdown-content p:hover {
    background-color: rgb(70, 43, 138);
}

.dropdown-navbar:hover .dropdown-content {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Index  */

#headline {
    display: grid;
    place-content: center;
    /*background-color: #022e57;*/
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
}

#slider-content {
    margin-top: 10px;
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    width: 95vw;
}

#slider-content #images {
    display: flex;
    overflow: hidden;
}

#slider-content img {
    width: 95vw;
    height: 40em;
    object-fit: fill;
}

.headline-title {
    padding-top: 10px;
    color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35vw;
    transform: translate(-50%, -50%);
}

.headline-btn {
    padding-left: 10px;
}

.headline-btn button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


#headline #separator {
    margin: right !important;
}

.headline-title .headtext {
    padding: 10px;
}

.header-text .headtext p,
.aboutus-title .headtext p {
    color: #ccc !important;
}

.headline-title .headtext p {
    color: rgb(231, 231, 231);
}

.headline-title .headtext {
    text-shadow: 0px 1px 5px black;
}

.headline-title h1 {
    font-size: 50px;
    font-style: italic;
    padding-bottom: 10px;
}

#left,
#right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
    background-color: inherit;
}

#right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#left:hover,
#right:hover,
.headline-btn button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#banner-header {
    background-color: #022e57;
    opacity: 0.95;
}

.header-text {
    padding-top: 90px;
    color: white;
}

.header-text h1 {
    font-size: 60px;
    font-style: italic;
}

.header-product {
    padding-top: 20px;
    text-align: right;
}

.header-product img {
    width: 80%;
    padding-bottom: 70px;
}

.header-button {
    padding-top: 20px;
}

.headtext {
    padding-top: 10px;
}

.headbutton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.headbutton:hover {
    background-color: #005a8d;
}


#aboutus {
    /*background-color: #005a8d;*/
    padding-top: 4rem;
    padding-bottom: 80px;
}

.aboutus-title {
    padding-top: 40px;
    padding-left: 100px;
    color: white;
}

.aboutus-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.aboutus-title .headtext {
    padding-top: 10px;
    padding-bottom: 10px;
}

.aboutus-title h1 {
    font-size: 40px;
    font-style: italic;
    padding-bottom: 10px;
}

.aboutus-image {
    text-align: right;
    padding-top: 70px;
    margin-left: 10px;
}

.aboutus-image img {
    width: 500px;
}

.aboutus-image-resp {
    text-align: right;
    padding-top: 10px;
    display: none;
}

.aboutus-image-resp img {
    width: 270px;
}


#why-us {
    margin: auto;
    background-color: #022e57;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 60px;
    opacity: 0.95;
}

.why-us-title {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.why-us-content {
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    color: white;
}

.why-us-title #separator {
    margin: auto !important;
}

.why-us-title .headtext {
    padding-top: 10px;
    padding-bottom: 10px;
}

.why-us-title h1 {
    padding-top: 20px;
    font-size: 40px;
    font-style: italic;
    padding-bottom: 10px;
}

.top-artists {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.top-artists img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: ease-in-out .3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

.artist-container h2 {
    transition: ease-in-out .3s;
}

.top-artists img:hover,
.artist-container h2:hover {
    transform: scale(1.2);
}

.artist-container {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

#why-us-bottom{
    margin-top: 30px;
}

#index-testimonial {
    margin: auto;
    /*background-color: #005a8d;*/
    padding-top: 1rem;
    padding-bottom: 80px;
}

#index-testimonial .headtext {
    padding-left: 8vw;
    padding-right: 8vw;
}

#index-testimonial .author {
    padding-top: 10px;
}

.head-viewall {
    font-size: 12px;
    text-align: right;
    color: lightgray;
    padding-right: 8vw;
}

.head-viewall a:hover {
    color: gray;
}

/* Register  */

#reg-section {
    padding: 10vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.title {
    text-align: center;
    background-color: #293B5F;
    padding-bottom: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.title img {
    padding-top: 20px;
    width: 150px;
}

.reg-content {
    background-color: grey;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 25%;
    margin-left: 25%;
    box-shadow: 0 0 4px lightgray;
    border-radius: 10px;
}

.reg-form {
    padding: 5px 20px 20px 20px;
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 8px 200px 8px 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea::placeholder {
    text-align: left;
}

.form-label {
    padding-left: 3px;
}


.reg-submit {
    display: flex;
    align-items: center;
    justify-content: center;

}

.column-reg {
    display: flex;
    padding-top: 8px;
    padding-right: 5px;
}


#female,
#male {
    margin-bottom: 12px;
}

#female {
    margin-left: 8px;
}

#btnSubmit {
    background-color: #293B5F;
    border: none;
    color: white;
    padding: 8px 200px 8px 200px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
}

#btnSubmit:hover {
    background-color: darkcyan;
}

.error-message {
    color: red;
}

.success-message {
    color: greenyellow;
}

/* Testimonial */

/* #testimonial {
    background-color: #005a8d;
} */

#testimonial-header {
    padding-top: 50px;
    color: #fff5fd;
    text-align: center;
}

.testimonial-title-desc {
    padding-right: 100px !important;
    padding-left: 100px !important;
    padding-top: 10px;
}

.testimonial-title h1 {
    font-size: 40px;
    font-style: italic;
    padding-bottom: 10px;
}

#testimonial-container {
    text-align: center;
    padding-top: 10px;
    max-width: 1000px;
    margin: auto;
    margin-top: 32px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.testimonial-card {
    transition: 0.3s;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 4px lightgray;
    border-radius: 10px;
}

.testimonial-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: azure;
}

.testimonial-img img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transition: ease-in-out .3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

.testimonial-content {
    padding-top: 16px;
}

.text-desc {
    padding-top: 8px;
}

/* K-Pop Catalog*/

#catalog-header {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
}

#catalog-header h1 {
    font-size: 40px;
    font-style: italic;
    padding-bottom: 20px;
}

#catalog-items {
    color: whitesmoke;
    padding-bottom: 50px;
}

#catalog-header .headtext {
    padding-top: 0px;
}

.artist-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}


.artist-header h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

/* .artist-header #separator {
    width: 10%;
} */


#product-container {
    max-width: 1000px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 6px;
}

.product-card {
    padding: 2px;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.product-content {
    margin-top: 5px;
    font-weight: bold;
}

.product-img {
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    width: 10rem;
    height: 10rem;
}

.product-img img {
    width: inherit;
    height: inherit;
    border: double;
    border-width: 3px;
    transition: ease 0.4s;
}

.product-img img:hover{
    margin-top: -10px;
}


/* Footer  */

.ctImg {
    height: 50px;
}

.footer {
    text-align: center;
    background-color: #26272b;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-col {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.ctImg:hover {
    background-color: lightgray;
}

.copyright {
    margin: 10px 0px 10px 0px;
}

/* Responsive  */

@media screen and (max-width: 770px) {

    #banner-header {
        padding: 20px;
    }

    .header-product {
        padding-top: 20px;
    }

    .header-text h1 {
        font-size: 40px;
        font-style: italic;
    }

    .dropdown-navbar-header img {
        width: auto;
    }

    #reg-section {
        padding: 25px;
    }

    .reg-content {
        margin-left: 100px;
        margin-right: 100px;
    }

    #testimonial-container {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

    .headline-title {
        text-align: center;
        left: 50%;
    }

    .aboutus-content {
        display: block;
    }

    .aboutus-image {
        display: none;
    }

    .aboutus-title {
        padding-right: 100px;
    }

    .aboutus-image-resp {
        display: block;
        text-align: center;
    }

    .first-header {
        padding-left: 80px;
        padding-right: 80px;
    }

    .header-text {
        padding-top: 50px;
    }

    .header-product img {
        padding-top: 20px;
    }

    #index-testimonial {
        padding-left: 60px;
        padding-right: 60px;
    }

    #product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {

    .dropdown-navbar-header img {
        width: auto;
    }

    .navbar {
        display: none;
    }

    .show {
        display: none;
    }

    #reg-section {
        padding: 20px;
    }

    .reg-content {
        margin-left: 5px;
        margin-right: 5px;
    }

    #btnSubmit {
        padding: 8px 200px 8px 200px;
    }

    .dropdown-navbar-header a {
        padding-left: 10px;
    }

    .dropdown-navbar {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-content {
        right: 5px;
        z-index: 1;
    }

    .header-product {
        display: none;
        text-align: left;
    }

    .header-product img {
        width: 90%;
    }

    #banner-header .first-header {
        display: block;
    }

    #banner-header {
        background-image: url('/assets/shine-world-dua.png');
        width: 92.4vw;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .first-header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-text {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .header-text .headtext {
        font-size: 10px !important;
    }

    .headtext h1 {
        font-size: 30px;
    }

    .headbutton {
        font-size: 10px;
    }
}

@media screen and (max-width: 420px) {

    #slider-content,
    #slider-content img {
        height: 22rem;
    }

    .dropdown-navbar-header img {
        width: auto;
    }

    #btnSubmit {
        padding: 8px 50px 8px 50px;
    }

    .testimonial-title-desc {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }

    .test-desc {
        font-size: 10px;
    }

    #testimonial-container {
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    #aboutus {
        padding: 2rem 20px 60px 20px;
    }

    .aboutus-image-resp {
        display: block;
        text-align: center;
        margin-left: 10px;
    }

    .aboutus-content {
        max-width: 1000px;
        margin: auto;
        display: inline;
    }

    .aboutus-image {
        display: none;
    }

    .top-artists {
        flex-wrap: wrap;
    }

    .top-artists img {
        margin-top: 3em;
        margin-bottom: 1em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .header-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .aboutus-title {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .aboutus-title #separator {
        margin: auto !important;
    }

    #index-testimonial {
        padding-left: 0px;
        padding-right: 0px;
    }

    .why-us-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    #banner-header {
        width: 90%;
    }

    #product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    #banner-header {
        width: 89%;
    }
}


@media screen and (max-width: 350px) {
    #banner-header {
        width: 87.5%;
    }

    #product-container .product-content {
        margin-bottom: 15px;
    }

    .product-img {
        width: 7em;
        height: 7em;
    }

    .product-content {
        font-size: 10px;
    }
}


@media screen and (max-width: 300px) {

    .dropdown-navbar-header img {
        width: auto;
    }


    .dropdown-content {
        padding-right: 1000px !important;
    }

    .first-header {
        padding-left: 0px;
    }

    #banner-header {
        width: 85.6vw;
    }

    .aboutus-image-resp {
        margin-left: 0px;
    }

    .aboutus-image-resp img {
        width: 250px;
    }

}