* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Navbar - Header  */

#header {
    width: 100%;
    box-shadow: 0px 4px 8px lightgrey;
}

.first-header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.first-header img {
    width: 150px;
}

.login-register {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

.navbar p {
    padding: 16px;
    cursor: pointer;
}

.login-register p {
    padding: 16px;
    cursor: pointer;
}


.navbar p:hover {
    background-color: lightgrey;
}

.login-register p:hover {
    background-color: lightgrey;
}

.dropdown-menu {
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.nav-link {
    padding-top: 5px;
}

.dropdown-menu-content {
    display: none;
    position: absolute;
    box-shadow: 0px 4px 8px lightgray;
}

.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}

.dropdown-menu-content p {
    min-width: 160px;
    background-color: white;
}

.dropdown-navbar {
    max-width: 1000px;
    margin: auto;
    position: relative;
    display: none;
}

.dropdown-navbar img {
    width: 50px;
}

.dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 4px 8px lightgrey;
}

.dropdown-content p {
    padding: 16px;
    cursor: pointer;
    background-color: white;
    min-width: 160px;
}

.dropdown-content p:hover {
    background-color: lightgray;
}

.dropdown-navbar:hover .dropdown-content {
    display: block;
}

/* Register  */

#reg-section {
    padding-bottom: 118vh;
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.title {
    text-align: center;
}

.reg-content {
    margin-top: 8vw;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 5px 200px 5px 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.reg-content input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea::placeholder {
    text-align: left;
}

.form-label {
    padding-left: 3px;
}


.reg-submit {
    display: flex;
    align-items: center;
    justify-content: center;

}

.column-reg {
    display: flex;
    padding-top: 8px;
    padding-right: 5px;
}


#female,
#male {
    margin-bottom: 12px;
}

#female {
    margin-left: 8px;
}

#btnSubmit {
    background-color: aqua;
    border: none;
    color: white;
    padding: 8px 200px 8px 200px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
}

#btnSubmit:hover {
    background-color: darkcyan;
}

.error-message {
    color: red;
}

.success-message {
    color: greenyellow;
}

/* Footer  */

.ctImg {
    height: 50px;
}

.footer {
    text-align: center;
    background-color: #26272b;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-col {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}

.ctImg:hover {
    background-color: lightgray;
}

.copyright {
    margin: 10px 0px 10px 0px;
}

@media screen and (max-width: 700px) {
    .navbar {
        display: none;
    }

    .show {
        display: none;
    }

    .dropdown-navbar-header a {
        padding-left: 10px;
    }

    .dropdown-navbar {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-content {
        right: 5px;
    }

}

@media screen and (max-width: 300px) {
    .dropdown-content {
        padding-right: 1000px !important;
    }
}